// app global css in SCSS form
.q-menu{
  transition:.2s !important
}

.text-dark-1 {
  color: $dark-1;
}
.bg-dark-1 {
  background-color: $dark-1;
}
.text-dark-2 {
  color: $dark-2;
}
.bg-dark-2 {
  background-color: $dark-2;
}
.text-dark-3 {
  color: $dark-3;
}

.bg-dark-3 {
  background-color: $dark-3;
}
.split .nav-part {
  background-color: $dark-1;

  .title {
    font-weight: bolder;
  }

  .count {
    color: $grey-5;
    font-size: smaller;
  }

  .count::before {
    content: " ";
  }

  .tags {
    margin-left: 28px;
  }
}

.split .list-part {
  background-color: $dark-2;
}

.split .view-part {
  background-color: $dark-3;
}
body{
  font-family:"PingFang SC",
  "Lantinghei SC",
  "Microsoft YaHei",
  "HanHei SC",
  "Helvetica Neue",
  "Open Sans",
  Arial,
  "Hiragino Sans GB",
  "微软雅黑",
  STHeiti,
  "WenQuanYi Micro Hei",
  SimSun,
  sans-serif !important;
  user-select: none;
}
.nav-part .q-item.title {
  color: $grey-3;
}
  .nav-part .q-item.item,
.nav-part .q-item.title{
  margin: 2px 4px 2px 16px;
  padding: 0 2px 0 16px;
  border-radius: 6px;
}

.list-part{
  .drop-handler{
    &:hover{
      cursor: pointer;
    }
  }
  .article-list{
    .q-item{
      padding: 20px 10px 20px 20px;
    }
  }
}
